@model OrangeBricks.Web.Controllers.Appointments.ViewModels.SlotViewModel
@{
    ViewBag.Title = "Book Viewing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Model.Address</h3>
<h2>Choose a date and time</h2>
<hr />
<ul id="slots">
    @foreach (var item in Model.Schedules)
    {
        <li>
            <div id="dateSlots" onclick="selectApptDate(this)" data-val="@item.ScheduleDate">
               <div> @item.ScheduleDate.Date.ToString("dd/MM/yyy")</div>
            <ul id="timeSlots" class="dateNotSelected">
                @foreach (var slot in item.Slots.Where(x=>x.Status == OrangeBricks.Web.Controllers.Appointments.ViewModels.SlotStatus.Available))
                {
                    <div onclick="selectAppointment(this,event)">
                        @slot.SlotDateTime.Hour.ToString("00"):@slot.SlotDateTime.Minute.ToString("00")
                    </div>
                }
            </ul>
        </div>
    </li>
    }
</ul>
<hr />
@using (Html.BeginForm("BookAppointment", "Appointments"))
            {
    @Html.Hidden("StartDatetime");
    @Html.Hidden("PropertyId", Model.PropertyId);
    <input class="btn btn-primary" type="submit" onclick="bookAppointment()" value="Book Appointment" />
}

<script type="text/javascript">
    function bookAppointment() {
        document.getElementById("StartDatetime").value = $(".apptSelected")[0].children[0].innerHTML + ' ' + $(".selected")[0].innerHTML;
    }

    function selectApptDate(el) {
        var slots = $(".dateSelected");
        for (var i = 0; i < slots.length; i++) {
            slots[i].className = "dateNotSelected";
        }
        var selectedDateSlots = $(".apptSelected");
        for (var i = 0; i < selectedDateSlots.length; i++) {
            selectedDateSlots[i].className = "";
        }
        selectedTimeSlots = $(".selected");
        for (var i = 0; i < selectedTimeSlots.length; i++) {
            selectedTimeSlots[i].className = "";
        }
        el.className = "apptSelected";
        el.children.timeSlots.className = "dateSelected";
    }

    function selectAppointment(el,e) {
        var selectedTimeSlots = $(".selected");
        for (var i = 0; i < selectedTimeSlots.length; i++) {
            selectedTimeSlots[0].className = "";
        }
        el.className = "selected";
        e.preventDefault();
        e.stopImmediatePropagation();
    }

</script>

