@model OrangeBricks.Web.Controllers.Property.ViewModels.MyPropertiesViewModel

@{
    ViewBag.Title = "My Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Properties</h2>

<p>Here is a list of your properties:</p>

@foreach (var property in Model.Properties)
{
    <hr />
    <h3>@property.StreetName</h3>
    <p>@property.NumberOfBedrooms bedroom @property.PropertyType</p>
    <p>@property.Description</p>

    switch (property.AppointmentStatus)
    {
        case OrangeBricks.Web.Controllers.Appointments.ViewModels.SlotStatus.Booked:
            {
                //Mark Attended
                <p><i>Customer Viewed the property. Please mark the attendance.</i></p>
                <a href="@Url.Action("MarkAttendance", "Appointments", new { id = property.Id})" class="btn btn-primary">
                    Mark Attended
                </a>
               //Html.ActionLink("Mark Attended", "MarkAttendance", "Appointments", new { id = property.Id });
                break;
            }
        case OrangeBricks.Web.Controllers.Appointments.ViewModels.SlotStatus.OfferPlaced:
            {
                // Accept Offer
                <p><i>Customer placed a offer to the property. Please accept the offer if you wish.</i></p>
                <a href="@Url.Action("OnProperty", "Offers", new { id = property.Id })" class="btn btn-primary">
                    View Offer
                </a>
                break;
            }
        case OrangeBricks.Web.Controllers.Appointments.ViewModels.SlotStatus.OfferedAccepted:
            {
                // Accept Offer
                <p><i>You have accepted the offer.</i></p>
                break;
            }
        case OrangeBricks.Web.Controllers.Appointments.ViewModels.SlotStatus.Available:
            {
                // Accept Offer
                <p><i>No views booked yet.</i></p>
                break;
            }
    }

    if (!property.IsListedForSale)
    {
        using (Html.BeginForm("ListForSale", "Property"))
        {
            @Html.Hidden("PropertyId", property.Id)
            <input class="btn btn-primary" type="submit" value="List Property For Sale" />
        }
    }

}

<script type="text/javascript">
    $("a[data-form-method='post']").click(function (event) {
        event.preventDefault();
        var element = $(this);
        var action = element.attr("href");
        element.closest("form").each(function () {
            var form = $(this);
            form.attr("action", action);
            form.submit();
        });
    });

</script>

